<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Sales Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="header">Welcome to AutoConnect</h1>
    <p class="paragraph">AutoConnect is a thriving automotive dealership, annually selling about 2,000 cars to approximately 1,500 customers. They have a diverse inventory of around 500 new and used cars and have partnered with multiple financial companies to provide varied financing options. A team of 15 seasoned salespeople, committed to superior customer service, ensure smooth car-buying experiences, facilitated by a database-backed website that records sales transactions.</p>
    <ul class="nav">
        <li class="nav-item"><a href="cars" class="nav-link">Cars</a></li>
        <li class="nav-item"><a href="customers" class="nav-link">Customers</a></li>
        <li class="nav-item"><a href="transactions" class="nav-link">Transactions</a></li>
        <li class="nav-item"><a href="salespeople" class="nav-link">Salespeople</a></li>
        <li class="nav-item"><a href="financeCompanies" class="nav-link">Finance Companies</a></li>
        <li class="nav-item"><a href="features" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="carFeatures" class="nav-link">Car Features</a></li>
    </ul>
</body>
</html>
